# Ignore compiled binaries
*.exe
*.out
*.o
*.a
*.so
*.dll
*.dylib
v4.s
.clang-format

# Ignore build directories
/build/
/bin/
/dist/
/cmake-build-debug/
/.idea/
/.venv/

json_serializer_v1
json_serializer_v3
json_serializer_*
